In [1]:
from nyt_article_search import JSONParse
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.sql import functions as f
from pyspark.sql.types import *
import pandas as pd
import json
import os

### Load JSONs and transform in to lists of tuples

In [2]:
# Function to extend each list as we parse the jsons
# The get_article_authors and  search_article_keywords methods
# return a list of tuples so this will create one master list of all tuples
def extend_list(list_name, function_result):
    if function_result != None:
        list_name.extend(function_result)
    else:
        pass

In [3]:
# Lists that the data from each json response will be added to
article_ids = []
fact_data = []
author_data = []
subject_data = []
people_data = []
org_data = []
loc_data = []
# Big text will be a dictionary where we'll add headline, lead paragraph,
# abstract and web url
big_text = {}

In [4]:
data_folder = 'DATA'
state = 'TEXAS'
# states = [f for f in os.listdir(data_folder) if f != '_Archive']
state_folder = os.path.join(data_folder, state)
json_files = os.listdir(state_folder)
for file in json_files:
    filepath = os.path.join(state_folder, file)
    json_file = open(filepath, 'r')
    data = json.load(json_file)
    responses = data['response']['docs']
    # Parse each json response in the json file
    for respsonse in responses:
        j = JSONParse(respsonse)
        article_ids.append(j.article_id)
        fact_data.append(j.get_article_facts())
        extend_list(author_data, j.get_article_authors())
        extend_list(subject_data, j.search_article_keywords('subject'))
        extend_list(people_data, j.search_article_keywords('persons'))
        extend_list(org_data, j.search_article_keywords('organizations'))
        extend_list(loc_data, j.search_article_keywords('glocations'))
        id_text_dict = {
            j.article_id:{
                            'headline':j.get_text('headline')[1],
                            'abstract':j.get_text('abstract')[1],
                            'lead_paragraph':j.get_text('lead_paragraph')[1],
                            'web_url':j.get_text('web_url')[1]
                        }
            }
        big_text.update(id_text_dict)

In [5]:
spark = SparkSession.\
        builder.\
        appName('NYT_JSON_ETL').\
        master('local[1]').\
        getOrCreate()

In [6]:
#For each result get the column headers for the resulting
#dataframe
def get_table_headers(table):

    table_col_dict = {
        'facts':['article_id', 'publication_date',
                            'word_count', 'total_keywords',
                            'total_authors', 'words_in_headline',
                            'in_print', 'print_page', 'print_section',
                            'news_desk', 'section_name', 'article_type'],
        'authors':['article_id', 'rank', 'role',
                            'firstname', 'middlename', 'lastname', 'qualifier'],
        'subjects':['article_id', 'rank', 'name', 'value', 'major'],
        'text':['article_id', 'text']
    }

    headers = table_col_dict.get(table)
    return(headers)

In [112]:
#Create spark dfs
facts = spark.createDataFrame(fact_data, schema=get_table_headers('facts'))
authors = spark.createDataFrame(author_data, schema=get_table_headers('authors'))
subjects = spark.createDataFrame(subject_data, schema=get_table_headers('subjects'))
people = spark.createDataFrame(people_data, schema=get_table_headers('subjects'))
organizations = spark.createDataFrame(org_data, schema=get_table_headers('subjects'))
locations = spark.createDataFrame(loc_data, schema=get_table_headers('subjects'))

### Step 1: Create Primary Keys in tables

In [113]:
# First step is to create an interger primary key for the article_ids
ids = [(e + 1000, i) for e, i in enumerate(article_ids)]
# Create spark df out of id list
# Integer Primary Key is fact_id
id_schema = StructType([
    StructField('fact_id', IntegerType(), False),
    StructField('article_id', StringType(), False)
    ])

### THIS SHOULD NOT CHANGE ANY FURTHER
id_df = spark.createDataFrame(ids, schema=id_schema)



#Merge the id_df dataframe into the existing frames
# To put fact_id in all the other tables
facts = id_df.join(facts, ['article_id'], how = 'inner').drop('article_id')
authors = id_df.join(authors, ['article_id'], how = 'inner').drop('article_id')
subjects = id_df.join(subjects, ['article_id'], how = 'inner').drop('article_id')
people = id_df.join(people, ['article_id'], how = 'inner').drop('article_id')
organizations = id_df.join(organizations, ['article_id'], how = 'inner').drop('article_id')
locations = id_df.join(locations, ['article_id'], how = 'inner').drop('article_id')

In [114]:
# Union the subjects, organizations, and locations dfs togehter
places_and_things = subjects.union(organizations).union(locations).orderBy(['fact_id', 'rank'])

#

In [115]:
#Create window function to partition by id and order by rank
window = Window().partitionBy('fact_id').orderBy('rank')
# Create primary key for places_and_things, authors, and people dataframes
def create_primary_key(df, key_name, article_id, w):
    #Create window function to partition by id and order by rank
    window = w
    #Row number
    df = df.withColumn(key_name, f.row_number().over(window))
    #Divide each row number by 1000 to get a decimal representation
    df = df.withColumn(key_name, f.col(key_name) / 1000)
    #Add the decimal to the id column (primary key for fact dataframe) to create a logical
    #Key representation
    df = df.withColumn(key_name, f.col(article_id) + f.col(key_name))
    return(df)

places_and_things = create_primary_key(places_and_things, 'table_id', 'fact_id', window)
authors = create_primary_key(authors, 'table_id', 'fact_id', window)
people = create_primary_key(people, 'table_id', 'fact_id', window)
places_and_things.show(2)
authors.show(2)
people.show(2)

+-------+----+----------+------+-----+--------+
|fact_id|rank|      name| value|major|table_id|
+-------+----+----------+------+-----+--------+
|   1000|   1|glocations| Texas|    N|1000.001|
|   1000|   3|   subject|Ethics|    N|1000.002|
+-------+----+----------+------+-----+--------+
only showing top 2 rows

+-------+----+--------+---------+----------+--------+---------+--------+
|fact_id|rank|    role|firstname|middlename|lastname|qualifier|table_id|
+-------+----+--------+---------+----------+--------+---------+--------+
|   1000|   1|reported|    Steve|    Barnes|     NYT|     NULL|1000.001|
|   1003|   1|reported|  Michael|      NULL|    NULL|     NULL|1003.001|
+-------+----+--------+---------+----------+--------+---------+--------+
only showing top 2 rows

+-------+----+-------+----------------+-----+--------+
|fact_id|rank|   name|           value|major|table_id|
+-------+----+-------+----------------+-----+--------+
|   1000|   2|persons|ROACH, RICHARD J|    N|1000.001|
|   1001|   5|persons| Trump, Donald J|    N|1001.001|
+-------+----+-------+----------------+-----+--------+
only showing top 2 rows

### Step 2: Text standardization

In [116]:
dim_folder = os.path.join('DATA', 'DIM_TABLES')
dim_news_desk = os.path.join(dim_folder, 'news_desks.csv')
dim_types = os.path.join(dim_folder, 'article_types.csv')
dim_sections = os.path.join(dim_folder, 'section_names.csv')

news_desk_df = spark.read.option('header', True).csv(dim_news_desk)
material_df = spark.read.option('header', True).csv(dim_types)
section_df = spark.read.option('header', True).csv(dim_sections)

In [132]:
# #replace any 'None' strings with None type
# facts = facts.withColumn('news_desk', f.when(facts['news_desk'] == 'None', None).otherwise(facts['news_desk']))
# #Get distinct values where not null
# distincts = facts.where(facts['news_desk'].isNotNull()).select(facts['news_desk']).distinct()
# #Get values that aren't in the dimensional tables
# distincts = distincts.join(news_desk_df, ['news_desk'], how = 'left')
# dirty_text = distincts.where(distincts['news_desk_id'].isNull()).select(distincts['news_desk'].alias('dirty_text'))
# #Cross join and calculate levenshtein distance
# dirty_text = dirty_text.crossJoin(news_desk_df).select(['dirty_text', 'news_desk'])
# dirty_text = dirty_text.withColumn('levenshtein', f.levenshtein('dirty_text', 'news_desk'))
# #Get min levenshtein distance for each dirty text
# #Min = best match
# min_lev = dirty_text.groupBy('dirty_text').agg(f.min('levenshtein').alias('levenshtein'))
# dirty_text = dirty_text.join(min_lev, ['dirty_text' , 'levenshtein'])

# #In case there are no good matches use row number and grab first one
# window = Window().partitionBy('dirty_text').orderBy('dirty_text')
# dirty_text = dirty_text.withColumn('row_num', f.row_number().over(window))
# dirty_text = dirty_text.where(dirty_text['row_num']== 1).select(['dirty_text', 'news_desk'])
# text_mapping = {row['dirty_text']:row['news_desk'] for row in dirty_text.rdd.collect()}
# facts = facts.replace(text_mapping, subset = ['news_desk'])

+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+---------+------------+--------------------+
|fact_id|publication_date|word_count|total_keywords|total_authors|words_in_headline|in_print|print_page|print_section|news_desk|section_name|        article_type|
+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+---------+------------+--------------------+
|   1083|      2015-11-13|       564|             5|            1|                8|    true|         4|           TR|   Travel|      Travel|                News|
|   1062|      2010-04-08|       853|             6|            1|                7|    true|        21|            A| National|     Science|                News|
|   1005|      2000-11-12|      1003|             6|            1|               11|    true|        22|            1| National|        U.S.|                News|
|   1039|      2005-09-29|      1133|            18|            1|                9|    true|         1|            A| National|        U.S.|An Analysis; News...|
|   1040|      2015-04-11|      1044|             8|            1|               10|    true|         9|            A| National|        U.S.|                News|
|   1045|      2013-11-30|      1115|             4|            1|                8|    true|       35A|            A| National|        U.S.|                News|
|   1069|      2014-02-21|       675|             4|            1|                7|    true|       21A|            A| National|        U.S.|                News|
|   1016|      2001-06-12|       821|             6|            1|                8|    true|        22|            A| National|        U.S.|                News|
|   1085|      2016-01-29|       643|             7|            1|               13|    true|        13|            A| National|        U.S.|                News|
|   1094|      2002-05-29|       740|             9|            1|               10|    true|        14|            A| National|        U.S.|                News|
|   1092|      2021-09-20|      1297|             4|            1|               11|    true|        21|            A|     OpEd|     Opinion|               Op-Ed|
|   1027|      2001-02-24|       423|             9|            0|                3|   false|      NULL|         NULL|     NULL|        U.S.|                News|
|   1095|      2012-06-16|       709|             4|            1|                7|    true|       25A|            A| National|        U.S.|                News|
|   1002|      2005-12-05|       689|            13|            0|                3|    true|        22|            A|Editorial|     Opinion|           Editorial|
|   1073|      2022-12-15|      1113|             8|            1|               13|    true|        14|            A| National|        U.S.|                News|
|   1076|      2021-10-01|       965|             9|            1|               10|   false|      NULL|         NULL|     OpEd|     Opinion|               Op-Ed|
|   1048|      2010-03-03|      1286|             8|            2|                8|    true|         1|            A| National|        U.S.|                News|
|   1044|      2001-06-02|       896|            43|            0|                2|   false|      NULL|         NULL|     NULL|        U.S.|                News|
|   1093|      2000-05-17|       171|             6|            0|                6|    true|        22|            A|Editorial|     Opinion|              Letter|
|   1091|      2014-05-16|       697|             6|            1|               12|    true|        15|            A| National|        U.S.|                News|
+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+---------+------------+--------------------+
only showing top 20 rows

In [133]:
def clean_text(clean_df, clean_col, dim_df):
    #clean_df = the dataframe to be cleaned
    #clean_col = the column to be cleaned
    #dim_df = the dimensional table to clean with

    #replace any 'None' strings with None type
    clean_df = clean_df.withColumn(clean_col, f.when(clean_df[clean_col] == 'None', None).otherwise(clean_df[clean_col]))
    #Get distinct values where not null
    distincts = clean_df.where(clean_df[clean_col].isNotNull()).select(clean_df[clean_col]).distinct()
    #Get values that aren't in the dimensional tables
    distincts = distincts.join(dim_df, [clean_col], how = 'left')
    #get the id column from the dimensional table
    id_col = f'{clean_col}_id'
    dirty_text = distincts.where(distincts[id_col].isNull()).select(distincts[clean_col].alias('dirty_text'))
    #Cross join and calculate levenshtein distance
    dirty_text = dirty_text.crossJoin(dim_df).select(['dirty_text', clean_col])
    dirty_text = dirty_text.withColumn('levenshtein', f.levenshtein('dirty_text', clean_col))

    #Get min levenshtein distance for each dirty text
    #Min = best match
    min_lev = dirty_text.groupBy('dirty_text').agg(f.min('levenshtein').alias('levenshtein'))
    dirty_text = dirty_text.join(min_lev, ['dirty_text' , 'levenshtein'])

    #In case there are no good matches use row number and grab first one
    window = Window().partitionBy('dirty_text').orderBy('dirty_text')
    dirty_text = dirty_text.withColumn('row_num', f.row_number().over(window))
    dirty_text = dirty_text.where(dirty_text['row_num']== 1).select(['dirty_text', clean_col])
    text_mapping = {row['dirty_text']:row[clean_col] for row in dirty_text.rdd.collect()}
    clean_df = clean_df.replace(text_mapping, subset = [clean_col])
    return(clean_df)

In [135]:
facts = clean_text(facts, 'article_type', material_df)
facts = clean_text(facts, 'news_desk', news_desk_df)
facts = clean_text(facts, 'section_name', section_df)
facts.show()

+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+--------------+------------+-------------+
|fact_id|publication_date|word_count|total_keywords|total_authors|words_in_headline|in_print|print_page|print_section|     news_desk|section_name| article_type|
+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+--------------+------------+-------------+
|   1083|      2015-11-13|       564|             5|            1|                8|    true|         4|           TR|        Travel|      Travel|         News|
|   1062|      2010-04-08|       853|             6|            1|                7|    true|        21|            A|      National|     Science|         News|
|   1005|      2000-11-12|      1003|             6|            1|               11|    true|        22|            1| National Desk|        U.S.|         News|
|   1039|      2005-09-29|      1133|            18|            1|                9|    true|         1|            A| National Desk|        U.S.|News Analysis|
|   1040|      2015-04-11|      1044|             8|            1|               10|    true|         9|            A|      National|        U.S.|         News|
|   1045|      2013-11-30|      1115|             4|            1|                8|    true|       35A|            A|      National|        U.S.|         News|
|   1069|      2014-02-21|       675|             4|            1|                7|    true|       21A|            A|      National|        U.S.|         News|
|   1016|      2001-06-12|       821|             6|            1|                8|    true|        22|            A| National Desk|        U.S.|         News|
|   1085|      2016-01-29|       643|             7|            1|               13|    true|        13|            A|      National|        U.S.|         News|
|   1094|      2002-05-29|       740|             9|            1|               10|    true|        14|            A| National Desk|        U.S.|         News|
|   1092|      2021-09-20|      1297|             4|            1|               11|    true|        21|            A|          OpEd|     Opinion|        Op-Ed|
|   1027|      2001-02-24|       423|             9|            0|                3|   false|      NULL|         NULL|          NULL|        U.S.|         News|
|   1095|      2012-06-16|       709|             4|            1|                7|    true|       25A|            A|      National|        U.S.|         News|
|   1002|      2005-12-05|       689|            13|            0|                3|    true|        22|            A|Editorial Desk|     Opinion|    Editorial|
|   1073|      2022-12-15|      1113|             8|            1|               13|    true|        14|            A|      National|        U.S.|         News|
|   1076|      2021-10-01|       965|             9|            1|               10|   false|      NULL|         NULL|          OpEd|     Opinion|        Op-Ed|
|   1048|      2010-03-03|      1286|             8|            2|                8|    true|         1|            A|      National|        U.S.|         News|
|   1044|      2001-06-02|       896|            43|            0|                2|   false|      NULL|         NULL|          NULL|        U.S.|         News|
|   1093|      2000-05-17|       171|             6|            0|                6|    true|        22|            A|Editorial Desk|     Opinion|       Letter|
|   1091|      2014-05-16|       697|             6|            1|               12|    true|        15|            A|      National|        U.S.|         News|
+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+--------------+------------+-------------+
only showing top 20 rows

In [104]:
facts.show()

+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+--------------+------------+--------------------+
|fact_id|publication_date|word_count|total_keywords|total_authors|words_in_headline|in_print|print_page|print_section|     news_desk|section_name|        article_type|
+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+--------------+------------+--------------------+
|   1083|      2015-11-13|       564|             5|            1|                8|    true|         4|           TR|        Travel|      Travel|                News|
|   1062|      2010-04-08|       853|             6|            1|                7|    true|        21|            A|      National|     Science|                News|
|   1005|      2000-11-12|      1003|             6|            1|               11|    true|        22|            1| National Desk|        U.S.|                News|
|   1039|      2005-09-29|      1133|            18|            1|                9|    true|         1|            A| National Desk|        U.S.|An Analysis; News...|
|   1040|      2015-04-11|      1044|             8|            1|               10|    true|         9|            A|      National|        U.S.|                News|
|   1045|      2013-11-30|      1115|             4|            1|                8|    true|       35A|            A|      National|        U.S.|                News|
|   1069|      2014-02-21|       675|             4|            1|                7|    true|       21A|            A|      National|        U.S.|                News|
|   1016|      2001-06-12|       821|             6|            1|                8|    true|        22|            A| National Desk|        U.S.|                News|
|   1085|      2016-01-29|       643|             7|            1|               13|    true|        13|            A|      National|        U.S.|                News|
|   1094|      2002-05-29|       740|             9|            1|               10|    true|        14|            A| National Desk|        U.S.|                News|
|   1092|      2021-09-20|      1297|             4|            1|               11|    true|        21|            A|          OpEd|     Opinion|               Op-Ed|
|   1027|      2001-02-24|       423|             9|            0|                3|   false|      NULL|         NULL|          None|        U.S.|                News|
|   1095|      2012-06-16|       709|             4|            1|                7|    true|       25A|            A|      National|        U.S.|                News|
|   1002|      2005-12-05|       689|            13|            0|                3|    true|        22|            A|Editorial Desk|     Opinion|           Editorial|
|   1073|      2022-12-15|      1113|             8|            1|               13|    true|        14|            A|      National|        U.S.|                News|
|   1076|      2021-10-01|       965|             9|            1|               10|   false|      NULL|         NULL|          OpEd|     Opinion|               Op-Ed|
|   1048|      2010-03-03|      1286|             8|            2|                8|    true|         1|            A|      National|        U.S.|                News|
|   1044|      2001-06-02|       896|            43|            0|                2|   false|      NULL|         NULL|          None|        U.S.|                News|
|   1093|      2000-05-17|       171|             6|            0|                6|    true|        22|            A|Editorial Desk|     Opinion|              Letter|
|   1091|      2014-05-16|       697|             6|            1|               12|    true|        15|            A|      National|        U.S.|                News|
+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+--------------+------------+--------------------+
only showing top 20 rows

In [91]:
facts.show()

+--------------+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+------------+--------------------+------------+
|     news_desk|fact_id|publication_date|word_count|total_keywords|total_authors|words_in_headline|in_print|print_page|print_section|section_name|        article_type|news_desk_id|
+--------------+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+------------+--------------------+------------+
|        Travel|   1083|      2015-11-13|       564|             5|            1|                8|    true|         4|           TR|      Travel|                News|          87|
|      National|   1062|      2010-04-08|       853|             6|            1|                7|    true|        21|            A|     Science|                News|          47|
| National Desk|   1005|      2000-11-12|      1003|             6|            1|               11|    true|        22|            1|        U.S.|                News|        NULL|
| National Desk|   1039|      2005-09-29|      1133|            18|            1|                9|    true|         1|            A|        U.S.|An Analysis; News...|        NULL|
|      National|   1040|      2015-04-11|      1044|             8|            1|               10|    true|         9|            A|        U.S.|                News|          47|
|      National|   1045|      2013-11-30|      1115|             4|            1|                8|    true|       35A|            A|        U.S.|                News|          47|
|      National|   1069|      2014-02-21|       675|             4|            1|                7|    true|       21A|            A|        U.S.|                News|          47|
| National Desk|   1016|      2001-06-12|       821|             6|            1|                8|    true|        22|            A|        U.S.|                News|        NULL|
|      National|   1085|      2016-01-29|       643|             7|            1|               13|    true|        13|            A|        U.S.|                News|          47|
| National Desk|   1094|      2002-05-29|       740|             9|            1|               10|    true|        14|            A|        U.S.|                News|        NULL|
|          OpEd|   1092|      2021-09-20|      1297|             4|            1|               11|    true|        21|            A|     Opinion|               Op-Ed|          50|
|          NULL|   1027|      2001-02-24|       423|             9|            0|                3|   false|      NULL|         NULL|        U.S.|                News|        NULL|
|      National|   1095|      2012-06-16|       709|             4|            1|                7|    true|       25A|            A|        U.S.|                News|          47|
|Editorial Desk|   1002|      2005-12-05|       689|            13|            0|                3|    true|        22|            A|     Opinion|           Editorial|        NULL|
|      National|   1073|      2022-12-15|      1113|             8|            1|               13|    true|        14|            A|        U.S.|                News|          47|
|          OpEd|   1076|      2021-10-01|       965|             9|            1|               10|   false|      NULL|         NULL|     Opinion|               Op-Ed|          50|
|      National|   1048|      2010-03-03|      1286|             8|            2|                8|    true|         1|            A|        U.S.|                News|          47|
|          NULL|   1044|      2001-06-02|       896|            43|            0|                2|   false|      NULL|         NULL|        U.S.|                News|        NULL|
|Editorial Desk|   1093|      2000-05-17|       171|             6|            0|                6|    true|        22|            A|     Opinion|              Letter|        NULL|
|      National|   1091|      2014-05-16|       697|             6|            1|               12|    true|        15|            A|        U.S.|                News|          47|
+--------------+-------+----------------+----------+--------------+-------------+-----------------+--------+----------+-------------+------------+--------------------+------------+
only showing top 20 rows